$primary: #88c2c2;
$userListBgColor: #773d3d;
$userListFgColor: #fdfdff;
$messageTextAreaFgColor: #011;
$messageDivBgColor: #3b8a72;
$userListTitle: $messageDivBgColor;
$mainFont: "Comfortaa", cursive;
$buttonFont: "Hind", sans-serif;

h2 {
	color: $userListTitle;
}
main,body,html,#layout,#root{
	font-family: $mainFont;
	height: 100%;
	overflow-y: hidden;
	margin: 0;
}
ul{
	list-style: none;
}
li img{
 vertical-align: middle;
 margin-right: 1em;
}
li{
	margin-top: 1em;
}
// --------------------------- loginScreen -------------------------------------
#loginWrap{
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 2em;
}
#loginWrap a{
	transition: all 0.4s ease;
	background-color: $primary;
	color:white;
	padding: 1em;
	border-radius: 0.3em;
	text-decoration: none;
}
#loginWrap a:hover{
	filter: invert(1);
	color: black;
}

#rightVerticalLayout{
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;
}
#userDetailWrap{
	overflow-y: auto;
	flex-grow: 4
}
//  title header
#userDetailSpan{
	display: inline-block;
}
#userThumbSpan{
	min-width: 110px;
	display: block;
}
#userName{
	display: block;
}
#userDescription{
	font-size: 0.75em;
}
// left SideBar (nav list)
#searchFilterInput{
	display: block;
	margin: 1em auto;
}
#UserList{
	float: left;
	display: inline-block;
	left:0;
	top:0;
	height: 100%;
	color: $userListFgColor;
	width:30%;
	max-width: 300px;
	background-color: $userListBgColor;
}
#messages{
	width: 90%;
}
// message text area
#messageDiv{
	max-height: 90px;
	background: $messageDivBgColor;
	text-align: center;
}
#messageTextArea{
	margin: 1em auto;
	display: inline-block;
	width: 95%;
	min-height: 20px;
	max-height: 25px;
	color: $messageTextAreaFgColor;
	font-family: $mainFont;
	padding: 0;
}
#submit-message{
	display: none;
	// font-family: $buttonFont;
	// font-weight: 100;
	// background-color: rgba(255,255,255,0.3);
	// margin:0;
	// padding: 0;
	// border-width: 1px;
	// min-height: 20px;
	// max-height: 25px;
	// width:80px;
	// color: white;
}
.sent{
	text-align: right;
	display: block;
}
.recieved{
	text-align: left;
	display: block;
}
