$userListBgColor: #803c4a;//#773d3d;
$userListFgColor: #fdfdff;
$messageTextAreaFgColor: #011;
$messageDivBgColor: #3b8a72;
$userListTitle: $messageDivBgColor;
$primary: $messageDivBgColor;//rgba(136, 194, 194, 0.8);
$mainFont: "Comfortaa", cursive;
$buttonFont: "Hind", sans-serif;
$messageDivBgColorHueRot495: #b17a7a;
h2 {
	color: $userListTitle;
	border-bottom: 1px solid $userListTitle;
	font-size: 1.4em;
	padding-left: 1em;
	font-weight: 100;
	margin-top: 0;
	padding-top: 1em;
	// margin-left: 1em;
	font-variant: small-caps;
}
main,body,html,#layout,#root{
	font-family: $mainFont;
	height: 100%;
	overflow-y: hidden;
	margin: 0;
}
hr{
	width: 100%;
	border-style: solid;
	border-width: 0.5px;
	border-color: $messageDivBgColor;
}
#sessionUser{
	flex-grow: 0;
	flex-shrink: 10;
	flex-basis: 40px;
	display: block;
	padding-left: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $messageDivBgColor;
}
#sessionUser img{
	max-height: 45px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
#logoDiv{
	display: block;
	padding: 1em auto;
}
#UserList ul{
	margin-top: 0;
	border-bottom: 1px solid $messageDivBgColor;
	flex-grow: 2;
	overflow-y: auto;
	list-style: none;
	height: 30vh;
}

#UserList ul li{
	font-size: 0.6em;
	min-width: 100px;
}
li img{
 vertical-align: middle;
 margin-right: 1em;
}
.selected{
	background-color: $primary;
	font-weight: 900;
	width:70%;
	border-radius: 3px;

	transition: all .5s ease;
}

li{
	list-style: none;
	margin-top: .5em;
}
.deleteMessages{
	opacity: 0;
	transition: all .25s ease;
	font-weight: 900;
	text-align: center;
	height: 22px;
	width: 22px;
	padding: 0 auto;
	margin-left: 1em;
	font-size: 2em;
	vertical-align: middle;
	background-color: $userListFgColor;
	padding: 2px auto;
	border-radius: 3px;
	color:$userListBgColor;
	display: inline-block;
}
#UserList ul li:hover .deleteMessages{
	opacity: .85;
}
// ----------------------------- Loading ---------------------------------------
#appPlaceholder{
	font-size: 3em;
	display: block;
	margin:2em 46%;
}
// --------------------------- loginScreen -------------------------------------
#loginWrap{
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 2em auto;
}
#loginWrap a{
	transition: all 0.4s ease;
	background-color: $primary;
	color:white;
	padding: 1em;
	border-radius: 0.3em;
	text-decoration: none;
}
#loginWrap a:hover{
	filter: invert(1);
	color: black;
	transform: translate(2px,2px);
}

#rightVerticalLayout{
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;
}
#userDetailWrap{
	overflow-y: auto;
	flex-grow: 4;
}
//  title header
#userDetailSpan{
	z-index: -1;
	display: inline-block;
	background-color: #f1f1f1;
	width: 100%;
	max-height: 80px;
	box-shadow: 1px 1px 12px 1px lightgrey;
	position: fixed;
}
#userThumbSpan{
	vertical-align: middle;
	min-width: 110px;
	display: inline-block;
}
#userName{
	display: inline-block;
	padding-right: 3em;
}
#userDescription{
	display: block;
	font-size: 0.75em;
}
// left SideBar (nav list)
#searchFilterInput{
	width: 90%;
	display: block;
	margin: 1em auto;
	border-radius: 3px;
	border-style: solid;
	border-color: $userListTitle;
	border-width: 1px;
}
//  user list and conversation list
#UserList{
	overflow-x: hidden;
	box-shadow: 0 0 10px 2px lightgrey;
	float: left;
	display: flex;
	flex-direction: column;
	left:0;
	top:0;
	height: 100%;
	color: $userListFgColor;
	width:30%;
	min-width: 130px;
	max-width: 300px;
	background-color: $userListBgColor;
}
#UserList img{
	border-radius: 3px;
}
.online::after{
	content: "•";
	position: relative;
	margin-left: 10px;
	font-size: 2em;
	margin-top: 2px;
	vertical-align: middle;
	display: inline-block;
	width:20px;
	animation: scaleAnim 2s infinite linear;
	animation: colorChange 2s infinite linear;

}
@keyframes colorChange {
	0% {
		color: white;
	}
	50% {
		color: $primary;
	}
	100% {
		color: white;
	}

}
@keyframes scaleAnim {
	0% {
		transform: scale3d(1,1,1);
	}
	50% {
		transform: scale3d(1.4,1.4,1);
	}
	100% {
		transform: scale3d(1,1,1);
	}
}
.badge{
	background-color: $messageDivBgColor;
	position: relative;
	vertical-align: super;
	text-align: center;
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	font-size:0.9em;
	transform: translateY(-1.1em);
	margin-left: -2em;
	margin-right: 1em;
	border-radius: 100%;
}
.badge p{
	margin: .3em auto;
	// vertical-align: top;
}
button{
	display: block;
	margin: 1em auto;
	text-align: center;
	transition: all 0.4s ease;
	background-color: $primary;
	color:white;
	padding: 1em;
	border-style: solid;
	border-color: $primary;
	border-radius: 0.3em;
	text-decoration: none;
}
button:hover{
	transform: translate(-2px,-2px);
}
#messages{
	margin-top: 80px;
	width: 94%;
}
.timestamp{
	opacity: 0.6;
	font-size: 0.8em;
}
// message text area
#messageDiv{
	max-height: 90px;
	background: $messageDivBgColor;
	text-align: center;
}
#messageTextArea{
	margin: 1em auto;
	display: inline-block;
	width: 95%;
	min-height: 20px;
	max-height: 25px;
	border-radius: 3px;
	border-style: solid;
	border-color: $userListBgColor;
	border-width: 1px;
	color: $messageTextAreaFgColor;
	font-family: $mainFont;
	padding: 0;
}
#submit-message{
	display: none;
	// font-family: $buttonFont;
	// font-weight: 100;
	// background-color: rgba(255,255,255,0.3);
	// margin:0;
	// padding: 0;
	// border-width: 1px;
	// min-height: 20px;
	// max-height: 25px;
	// width:80px;
	// color: white;
}
.sent{
	text-align: right;
	display: block;
	margin-left: 70%;
}
.recieved{
	text-align: left;
	display: block;
	margin-right: 70%;
}
.unread{
	font-weight: 600;
}
.messageText{
	padding: .1em .3em;
	display: inline-block;
	border-radius: 3px;
}
.sent .messageText{
	background-color: rgba(59, 138, 114, 0.2);
}
.recieved .messageText{
	background-color: rgba(59, 138, 114, 0.2);
}

// AUX
.hidden{
	display: none;
}
// Messages Animation --------------------------
.example-enter {
	transform: translateY(-5%);
  	opacity: 0.01;
}

.example-enter.example-enter-active {
  	transform: translateX(0);
  	opacity: 1;
  	transition: all 500ms ease-in;
}
.example-appear {
	transform: translateY(-5%);
  	opacity: 0.01;
}

.example-appear.example-appear-active {
  	transform: translateX(0);
  	opacity: 1;
  	transition: all 500ms ease-in;
}

.example-leave {
  	transform: translateX(0);
  	opacity: 1;
}

.example-leave.example-leave-active {
	transform: translateX(5%);
  	opacity: 0.01;
  	transition: all 300ms ease-in;
}
#logo{
	padding: 0.5em;
	border-style: none;
	border-color: $messageDivBgColorHueRot495;
	border-width: 1px;
	border-radius: 1em;
	max-width: 70%;
	display: block;
	margin: 1em 1em;
}
#logoDiv img{
	filter:
		drop-shadow(2px 0px $primary)
		drop-shadow(0px 2px $primary)
		drop-shadow(2px 2px $primary)
		drop-shadow(-2px 0px $primary)
		drop-shadow(0px -2px $primary)
		drop-shadow(-2px -2px $primary)
		drop-shadow(0 0 .4em $primary);

}
