$primary: #88c2c2;
$userListBgColor: #773d3d;
$userListFgColor: #fdfdff;
$messageTextAreaFgColor: #011;
$messageDivBgColor: #3b8a72;
$userListTitle: $messageDivBgColor;
$mainFont: "Comfortaa", cursive;
$buttonFont: "Hind", sans-serif;

h2 {
	color: $userListTitle;
}
main,body,html,#layout,#root{
	font-family: $mainFont;
	height: 100%;
	overflow-y: hidden;
	margin: 0;
}
ul{
	list-style: none;
}
li img{
 vertical-align: middle;
 margin-right: 1em;
}
li{
	margin-top: 1em;
}
// ----------------------------- Loading ---------------------------------------
#appPlaceholder{
	font-size: 3em;
	display: block;
	margin:2em 46%;
}
// --------------------------- loginScreen -------------------------------------
#loginWrap{
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin: 2em;
}
#loginWrap a{
	transition: all 0.4s ease;
	background-color: $primary;
	color:white;
	padding: 1em;
	border-radius: 0.3em;
	text-decoration: none;
}
#loginWrap a:hover{
	filter: invert(1);
	color: black;
}

#rightVerticalLayout{
	display: flex;
	height: 100%;
	flex-direction: column;
	position: relative;
}
#userDetailWrap{
	overflow-y: auto;
	flex-grow: 4;
}
//  title header
#userDetailSpan{
	z-index: 1;
	display: inline-block;
	background-color: #f1f1f1;
	width: 100%;
	max-height: 80px;
	box-shadow: 1px 1px 12px 1px lightgrey;
	position: fixed;
}
#userThumbSpan{
	vertical-align: middle;
	min-width: 110px;
	display: inline-block;
}
#userName{
	display: inline-block;
	padding-right: 3em;
}
#userDescription{
	display: block;
	font-size: 0.75em;
}
// left SideBar (nav list)
#searchFilterInput{
	width: 90%;
	display: block;
	margin: 1em auto;
	border-radius: 3px;
	border-style: solid;
	border-color: $userListTitle;
	border-width: 1px;
}
//  user list and conversation list
#UserList{
	float: left;
	display: inline-block;
	left:0;
	top:0;
	height: 100%;
	color: $userListFgColor;
	width:30%;
	max-width: 300px;
	background-color: $userListBgColor;
}
#UserList img{
	border-radius: 3px;
}
.badge{
	background-color: $messageDivBgColor;
	position: relative;
	vertical-align: super;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	padding: 0.1 0.1 0.1 0.1;
	font-size:0.6em;
	transform: translateY(-0.7em);
	margin-left: -2.5em;
	margin-right: 1em;
	border-radius: 100%;
}
.badge p{
	margin: .3em auto;
	// vertical-align: top;
}
#messages{
	margin-top: 80px;
	width: 90%;
}
.timestamp{
	opacity: 0.6;
	font-size: 0.8em;
}
// message text area
#messageDiv{
	max-height: 90px;
	background: $messageDivBgColor;
	text-align: center;
}
#messageTextArea{
	margin: 1em auto;
	display: inline-block;
	width: 95%;
	min-height: 20px;
	max-height: 25px;
	border-radius: 3px;
	border-style: solid;
	border-color: $userListBgColor;
	border-width: 1px;
	color: $messageTextAreaFgColor;
	font-family: $mainFont;
	padding: 0;
}
#submit-message{
	display: none;
	// font-family: $buttonFont;
	// font-weight: 100;
	// background-color: rgba(255,255,255,0.3);
	// margin:0;
	// padding: 0;
	// border-width: 1px;
	// min-height: 20px;
	// max-height: 25px;
	// width:80px;
	// color: white;
}
.sent{
	text-align: right;
	display: block;
}
.recieved{
	text-align: left;
	display: block;
}
.unread{
	font-weight: 600;
}
// AUX
.hidden{
	display: none;
}
